@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* slide in from left */
    transform: translateX(-10rem);
  }

  80% {
    /* slightly moves over to right beyond final position */
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    /* final position after animation */
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* slide in from left */
    transform: translateX(10rem);
  }

  80% {
    /* slightly moves over to right beyond final position */
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    /* final position after animation */
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* slide in from left */
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    /* final position after animation */
    transform: translate(0);
  }
}
