*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* setting this root font size so rem conversion can be easier for the rest of the px sizes found in css, applies to non font px too. 1 rem = 10px in this case */

/* 16px is the defualt font-size in browsers, to get what we want which is 10px we do 10/16 = .625 = 62.5% */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
